<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administration | Au pied du Morclan</title>
    <link rel="stylesheet" href="/asset/css/admin.css">
    <%- include('../Admin/asset/components/header') %> 
</head>
<body>
    <%- include('../Admin/asset/components/nav') %> 

    
<div class="container mt-5 pt-5">
    <h1 class="p-3">Vos pages </h1>
   

</div>
   
<div class="container row gap-3 p-5">
    <% page.forEach(page => { %>
        <div class="col-12 p-3 card card-body">
            <h1>Titre : <%= page.title %> </h1>
            <h1>Url : <%= page.url %> </h1>
            <a href="/admin/modify<%= page.url %> " class="btn btn-primary">Modifier</a>

        </div>
     
    <% }) %>

</div>

   
    
</body>
</html>