<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Administrateur | Isis CMS</title>
    <%- include('../Admin/asset/components/header') %> 
  <body>
    <%- include('../Admin/asset/components/nav') %> 
    
        <div class="container pt-5 mt-5" >
            <a href="/admin/my-page/new" class="btn btn-primary">Créer une page</a>
            <h1 class="p-3">Vos pages :</h1>

            <% page.forEach(page => { %>
                <div class="col-6">
                    <div class="card card-body">
                        <h1>Titre : <%= page.title %></h1>
                        <h2> Url : <%= page.url %></h2>
                        <a href="<%= page.url %>" class="btn btn-warning p-1">Voir la page</a> <br>
                        <a href="/admin/my-page/modify<%= page.url %>" class="btn btn-success p-1">Modifier la page</a> <br>
                        <a href="/admin/my-page/delete<%= page.url %>" class="btn btn-danger p-1">Supprimer la page </a> <br>
    
                    </div>

                </div>
                
             
            <% }) %>


        </div>
    
  </body>
</html>
